<launch>
<!-- DEBUT NXT -->
	<!-- nxt_ros launch -->
	<node pkg="nxt_ros" type="nxt_ros.py" name="nxt_ros" output="screen" respawn="true">
		<rosparam command="load" file="$(find nxt_adventurer)/robot.yaml" />
	</node> 

	<!-- nxt_adventurer -->
	<node pkg="nxt_adventurer" type="adventurer_node" name="main_node" output="screen" respawn="true" />
<!-- FIN NXT -->

</launch>
